torch>=1.7.1
torchsummary
torchvision
botorch
ax-platform

cycler
kiwisolver
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
scipy
six
tqdm
simplejson

# visualization and webapp
matplotlib
seaborn
bokeh
flask_jsglue
flask